

body {
  background-color: #f0f0f0;
  font-family: "tablet-gothic-wide", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.286;
  color: #222;
  text-rendering: optimizeLegibility;
}
strong {
  font-weight: 600;
}
a {
  color: #2785d3;
}
a:hover {
  color: #46bcff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "tablet-gothic-semi-condensed", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 600;
}

.navbar {
  background-color: #46bcff;
  min-height: 40px;
  border-top: 5px solid #2785d3;
  border-bottom: 1px solid #2785d3;
  box-shadow: 0px 3px 0px rgba(23, 135, 189, 0.4);
  color: white;
  margin-bottom: 25px;
}

.navbar-inverse .navbar-brand {
	color: #fff;
  background: url(../img/makerbase-logo@2x.png);
  background-size: 104px 20px;
  width: 104px;
  height: 20px;
  margin: 14px 20px 0 auto;
  padding: 0;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
}

.navbar button#user-menu {
	padding: 4px;
}

.tt-dropdown-menu {
  z-index: 1000;
  min-width: 300px;
  padding: 4px 0 4px 4px;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  color: #000;
}

.twitter-typeahead, .tt-hint, .tt-input {
  width: 100% !important;
}
.tt-hint {
  border: none;
}

.input-group-btn:last-child>.btn {
  margin-top: -2px;
}

.tt-suggestion {
  padding: 4px 4px 2px 8px;
  margin: 0 6px 0 0;
  font-weight: normal;
  color: #46bcff;
  border-radius: 4px;
  white-space: nowrap; // prevent links from randomly breaking onto new lines
}

.tt-suggestion h4 {
  color: #666;
  font-weight: 200;
}

.tt-suggestion a {
  color: #666;
  text-decoration: none;
}

.tt-suggestion a strong {
  font-weight: 600;
  color: #222;
}

.tt-suggestion.tt-cursor {
  background-color: #46bcff;
}

.tt-suggestion.tt-cursor a,
.tt-suggestion.tt-cursor a h3,
.tt-suggestion.tt-cursor a h4 {
  text-decoration: none;
  color: #fff;
}

.tt-suggestion.tt-cursor a strong,
.tt-suggestion.tt-cursor a h3 strong,
.tt-suggestion.tt-cursor a h4 strong {
  font-weight: 600;
}

.bg-success,
.alert-success {
  color: #417505;
  background-color: #9DD767;
  border-color: #5FAC1C;
}
.bg-danger,
.alert-danger {
  color: #D0374B;
  background-color: #FC939E;
  border-color: #DA6070;
}

.alert a {
	color: #000;
}

.form-inline {
	padding-bottom: 20px;
}

#edit-role-btn {
  border-color: #fff;
}
#edit-role-btn:hover {
  border-color: #ccc;
}

.page-header {
  margin-top: 0;
}

.footer {
	height: 60px;
	border-top: 1px solid #dbdbdb;
	padding: 20px;
	margin-top: 20px;
}
