
body {
  background-color: #f0f0f0;
  font-family: "tablet-gothic-wide", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.286;
  color: #222;
  text-rendering: optimizeLegibility;
}
strong {
  font-weight: 600;
}
a {
  color: #2785d3;
}
a:hover {
  color: #46bcff;
}

h1, h2, h5, h6, .alert {
  font-family: "tablet-gothic-semi-condensed", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 600;
}

h3, h4, input, textarea, .navbar-brand {
  font-family: "tablet-gothic-semi-condensed", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  margin-top: 0;
}

h1 {
  color: #F36400;
}

@media (max-width: 768px) {
  h2 {
    font-size: 18px;
  }
}

.navbar {
  background-color: #black;
  border-bottom: 1px solid #black;
  color: white;
  margin-bottom: 0;
  min-height: 0;
}

.navbar-inverse .navbar-brand,
.navbar>.container .navbar-brand {
	color: #fff;
  width: 104px;
  height: 20px;
  margin: 10px 0 0 0;
  padding: 0;
}

.navbar button#user-menu {
	padding: 4px;
}

.navbar-inverse .navbar-form {
  padding: 0;
  border: none;
  margin: 4px 0 0 0;
}

.navbar-btn.btn-sm {
  margin: 4px;
}

#signout-button {
}

#signout-button .dropdown-menu {
  left: -120px;
  top: 40px;
}

#signin-button {
}

.navbar-inverse .navbar-collapse {
  border: none;
}

.archived {
  text-decoration: line-through;
}

.tt-dropdown-menu {
  z-index: 1000;
  min-width: 300px;
  padding: 4px 0 4px 4px;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  color: #000;
}

.twitter-typeahead, .tt-hint, .tt-input {
  width: 170px !important;
}

#homepage-search .twitter-typeahead, .tt-hint, .tt-input {
  width: 100% !important;
}

.pager li>a, .pager li>span {
  border-radius: 0;
}

.tt-hint {
  border: none;
}

.input-group-btn:last-child>.btn {
  margin-top: -2px;
}

input#name {
  font-weight: 800;
}

input#avatar-url {
  color: #999;
}

#homepage-search,
#homepage-search input,
#homepage-search .form-control {
  font-size: 40px;
  height: auto;
}

.tt-suggestion {
  padding: 4px 4px 2px 8px;
  margin: 0 6px 0 0;
  font-weight: normal;
  color: #46bcff;
  border-radius: 4px;
  white-space: nowrap; // prevent links from randomly breaking onto new lines
}

.tt-suggestion h4 {
  color: #666;
  font-weight: 200;
}

.tt-suggestion a {
  color: #666;
  text-decoration: none;
}

.tt-suggestion a strong {
  font-weight: 600;
  color: #222;
}

.tt-suggestion.tt-cursor {
  background-color: #46bcff;
}

.tt-suggestion.tt-cursor a,
.tt-suggestion.tt-cursor a h3,
.tt-suggestion.tt-cursor a h4 {
  text-decoration: none;
  color: #fff;
}

.tt-suggestion.tt-cursor a strong,
.tt-suggestion.tt-cursor a h3 strong,
.tt-suggestion.tt-cursor a h4 strong {
  font-weight: 600;
}

.bg-success,
.alert-success {
  color: #417505;
  background-color: #9DD767;
  border-color: #5FAC1C;
}
.bg-danger,
.alert-danger {
  color: #D0374B;
  background-color: #FC939E;
  border-color: #DA6070;
}

.alert {
  margin-top: 14px;
  padding: 4px;
}

.alert a {
  color: #000;
}

.alert-dismissible .close {
  right: 4px;
  color: #333;
  font-size: 24px;
}

.jumbotron {
  background: white;
}

.main-avatar {
  width: 100%;
}

.history {
  padding-top: 12px;
}

.history img {
   -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.history img:hover {
   -webkit-filter: none;
  filter: none;
}

.action-item {
  padding-top: 10px;
}

.action-item img {
}

a.user-link {
  color: black;
}

.form-inline {
	padding-bottom: 20px;
}

.control-label {
  text-align: right;
}

.media-body h3,
.media-body h3 a {
  margin: 0;
  color: #999;
  font-weight: 200;
  font-size: 2rem;
  padding-bottom: 0;
}

.media-body h4 {
  margin: 0;
  font-size: 1.8rem;
}

.media-body h4 a {
  color: #666;
}

#add-buttons {
  margin-top: 6px;
  padding-top: 10px;
}

#edit-maker form,
#edit-product form,
.edit-role-form {
  margin-top: 20px;
  clear: both;
}

#edit-role-btn {
  border: none;
  padding: 0;
  font-size: 1.2rem;
}

#edit-role-btn:hover {
  color: #000;
  background-color: transparent;
}

.btn-primary {
  background-color: #7348B0;
  border: 1px solid #B690E2;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: #B690E2;
  border: 1px solid #8E69C2;
  color: black;
}

.btn-info {
  background-color: #DBDBDB;
  border: 1px solid #999;
  color: black;
}

.btn-info:hover, .btn-info:active, .btn-info:focus {
  background-color: #999;
  border: 1px solid #666;
}

#add-panels {
}

#add-panels a {
  color: #444;
}

#add-panels a.list-group-item:hover {
  border-color: #46BCFF;
  color: #000;
  background-color: #fff;
  text-decoration: none;
  cursor: pointer;
}

#add-panels h4 {
  font-size: 14px;
  font-weight: 800;
}

#add-panels h4 small {
  margin-left: 10px;
  color: #999;
}

#add-panels h6 {
}

#add-panels p {
  font-size: 12px;
}

#add-panels a.list-group-item {
  padding: 6px;
}

#add-panels a.list-group-item:hover h4.media-heading {
  color: #2785D3;
}

#add-panels a.list-group-item p {
  margin: 6px 0 0 0;
}

#add-panels .media {
  margin-top: 0px;
}

.page-header {
  margin-top: 0;
}

.footer {
	border-top: 1px solid #dbdbdb;
	padding: 10px;
  margin-top: 10px;
  font-size: 11px;
}

ins {
  background: #e4f9e8;
  text-decoration: none;
}

del {
  background: #f8d9dd;
  color: #dc4154;
}
