// Makerbase-specific

@color-pea:                 #9DD767;
@color-pea-dark:            #5FAC1C;
@color-pea-darker:          #417505;
@color-pea-light:           mix(@color-pea, #fff, 25%);
@color-salmon:              #FC939E;
@color-salmon-dark:         #DA6070;
@color-salmon-darker:       darken(@color-salmon-dark, 10%);
@color-salmon-light:        mix(@color-salmon, #fff, 25%);
@color-creamsicle:          #FFBB4E;
@color-creamsicle-dark:     #FF8F41;
@color-creamsicle-darker:   darken(@color-creamsicle-dark, 15%);
@color-creamsicle-light:    mix(@color-creamsicle, #fff, 25%);
@color-sepia:               #C0BDAF;
@color-sepia-dark:          #A19F8B;
@color-sepia-darker:        darken(@color-sepia-dark, 10%);
@color-sepia-light:         mix(@color-sepia, #fff, 25%);
@color-purple:              #B690E2;
@color-purple-dark:         #8E69C2;
@color-purple-darker:       darken(@color-purple-dark, 10%);
@color-purple-light:        mix(@color-purple, #fff, 25%);
@color-mint:                #41DAB3;
@color-mint-dark:           #24B98F;
@color-mint-darker:         darken(@color-mint-dark, 10%);
@color-mint-light:          mix(@color-mint, #fff, 25%);
@color-bubblegum:           #F576B5;
@color-bubblegum-dark:      #B3487C;
@color-bubblegum-darker:    darken(@color-bubblegum-dark, 10%);
@color-bubblegum-light:     mix(@color-bubblegum, #fff, 25%);
@color-seabreeze:           #44C9D7;
@color-seabreeze-dark:      #198A9C;
@color-seabreeze-darker:    darken(@color-seabreeze-dark, 10%);
@color-seabreeze-light:     mix(@color-seabreeze, #fff, 25%);
@color-dijon:               #E4BF28;
@color-dijon-dark:          #C59301;
@color-dijon-darker:        darken(@color-dijon-dark, 10%);
@color-dijon-light:         mix(@color-dijon, #fff, 25%);
@color-sandalwood:          #FD8560;
@color-sandalwood-dark:     #D13A0A;
@color-sandalwood-darker:   darken(@color-sandalwood-dark, 10%);
@color-sandalwood-light:    mix(@color-sandalwood, #fff, 25%);
@color-caramel:             #DD814B;
@color-caramel-dark:        #9E5E14;
@color-caramel-darker:      darken(@color-caramel-dark, 10%);
@color-caramel-light:       mix(@color-caramel, #fff, 25%);

@color-lightslate:			#c9dae1;
@color-bgslate: 				#e2eaee;
@color-rust:    	    	#c73a0a;

@import "theme.less";
@import "bootstrap-files.less";


// UTILITY STYLING ************************************

// Rounded corners
.img-rounded {
	border-radius: 12%;
	max-height: 76px;
	min-width: 16px;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}

.blur {
	padding: 10px;
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-ms-filter: blur(3px);
	-o-filter: blur(3px);
	filter: blur(3px);
}

li.active a {
	font-weight: 600;
}

.popover {
	min-width: 200px;
}

.style-bubblegum {
	background-color: @color-bubblegum;
	border-radius: 0 0 0 20px;
	a {
		text-decoration: none;
		color: @color-bubblegum-darker;
		&:hover {
			color: @color-bubblegum-dark;
		}
	}
}
.style-caramel {
	background-color: @color-caramel;
	border-radius: 0 0 0 20px;
	a {
		text-decoration: none;
		color: @color-caramel-darker;
		&:hover {
			color: @color-caramel-dark;
		}
	}
}
.style-creamsicle {
	background-color: @color-creamsicle;
	border-radius: 0 20px 0 0;
	a {
		text-decoration: none;
		color: @color-creamsicle-darker;
		&:hover {
			color: @color-creamsicle-dark;
		}
	}
}
.style-dijon {
	background-color: @color-dijon;
	border-radius: 0 20px 0 0;
	a {
		text-decoration: none;
		color: @color-dijon-darker;
		&:hover {
			color: @color-dijon-dark;
		}
	}
}
.style-mint {
	background-color: @color-mint;
	border-radius: 20px 0 0 0;
	a {
		text-decoration: none;
		color: @color-mint-darker;
		&:hover {
			color: @color-mint-dark;
		}
	}
}
.style-pea {
	background-color: @color-pea;
	border-radius: 20px 0 0 0;
	a {
		text-decoration: none;
		color: @color-pea-darker;
		&:hover {
			color: @color-pea-dark;
		}
	}
}
.style-purple {
	background-color: @color-purple;
	border-radius: 0 0 20px 0;
	a {
		text-decoration: none;
		color: @color-purple-darker;
		&:hover {
			color: @color-purple-dark;
		}
	}
}
.style-salmon {
	background-color: @color-salmon;
	border-radius: 0 0 20px 0;
	a {
		text-decoration: none;
		color: @color-salmon-darker;
		&:hover {
			color: @color-salmon-dark;
		}
	}
}
.style-sandalwood {
	background-color: @color-sandalwood;
	border-radius: 0 0 20px 0;
	a {
		text-decoration: none;
		color: @color-sandalwood-darker;
		&:hover {
			color: @color-sandalwood-dark;
		}
	}
}
.style-seabreeze {
	background-color: @color-seabreeze;
	border-radius: 20px 0 0 0;
	a {
		text-decoration: none;
		color: @color-seabreeze-darker;
		&:hover {
			color: @color-seabreeze-dark;
		}
	}
}
.style-sepia {
	background-color: @color-sepia;
	border-radius: 20px 0 0 0;
	a {
		text-decoration: none;
		color: @color-sepia-darker;
		&:hover {
			color: @color-sepia-dark;
		}
	}
}

.style-gray-lighter {
	background-color: @gray-lighter;
	border-radius: 0;
	a {
		text-decoration: none;
		color: @gray;
		&:hover {
			color: @gray-dark;
		}
	}
}
.style-transparent {
	background-color: transparent;
	border: 1px solid @color-lightslate;
	a {
		text-decoration: none;
		color: @color-seabreeze-darker;
		&:hover {
			color: @color-seabreeze-dark;
		}
	}
	.img-rounded {
		background-color: #fff;
	}
}

a.style-bubblegum:hover {
	background-color: @color-bubblegum-light;
}
a.style-caramel:hover {
	background-color: @color-caramel-light;
}
a.style-creamsicle:hover {
	background-color: @color-creamsicle-light;
}
a.style-dijon:hover {
	background-color: @color-dijon-light;
}
a.style-mint:hover {
	background-color: @color-mint-light;
}
a.style-pea:hover {
	background-color: @color-pea-light;
}
a.style-purple:hover {
	background-color: @color-purple-light;
}
a.style-salmon:hover {
	background-color: @color-salmon-light;
}
a.style-sandalwood:hover {
	background-color: @color-sandalwood-light;
}
a.style-seabreeze:hover {
	background-color: @color-seabreeze-light;
}
a.style-sepia:hover {
	background-color: @color-sepia-light;
}

/*
bubblegum
caramel
creamsicle
dijon
mint
pea
purple
salmon
sandalwood
seabreeze
sepia
*/

// APP-WIDE ************************************

h2,
h2 a,
h3,
h3 a {
	color: @gray;
	font-weight: 200;
}

h6 {
	font-weight: 200;
}
.form-control {
	box-shadow: none;
}

#flagform {
	background-color: rgba(0, 0, 0, .25);
	.modal-dialog {
		.modal-content {
			border-radius: 20px 3px;
		}
		.modal-title {
			font-weight: 200;
		}
		.modal-body {
			font-size: 1em;
		}
		.modal-footer {
			.btn {
				padding: 6px 12px;
				color: #fff;
				font-size: 1em;
			}
		}
	}
}
.navbar .navbar-brand {

		width: 200%;
		height: auto;

    background: url(../img/makerbase-logo-square.svg) no-repeat top 0 left 0;
    background-size: auto 100%;
    font-size: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.navbar-form {
	border: none;
	margin: 0;
	line-height: 0.5;
	@media (min-width: @screen-sm-min) {
		margin-top: 8px;
	}
	.form-control {
		width: 100%;
	}
}
.twitter-typeahead {
	width: 100%;
}
#nav-typeahead,
.tt-hint {
	width: 100%;
}
.tt-hint {
	color: @gray-light;
}

.tt-dropdown-menu {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .15);
    box-shadow: 0 1px 0px rgba(0,0,0,.175);
    padding: 4px 0 4px 4px;
    z-index: 1000;

    h4 {
    	font-size: 1.4em;
    	color: @gray;
    	font-weight: 200;
    	padding-top: 0;
    	strong {
    		font-weight: 200;
    		color: #000;
    	}
    }
    .tt-suggestion a {
	    text-decoration: none;
		}
		.tt-suggestion.tt-cursor {
		    background-color: @color-seabreeze;
		    strong {
		    	color: #000;
		    }
		}
}

#signout-button {
	ul.dropdown-menu {
		border: 1px solid @color-lightslate;
		left: -106px;
		top: 42px;
	}

	#signin-button {
		margin-left: -36px;
		padding: 7px;
	}
}

.media-footer {
    display: none;
}

form.form-inline {
	display: inline-block;
}

#activity {
	margin-top: 2em;
	a {
		&.avatar {
			img {
				min-width: 70px;
			}

		}
		&.text-muted {
			opacity: 0.25;
		}
	}
	h4 {
		font-weight: 200;
		a {
			font-weight: 600;
		}
		a.user-link {
			font-weight:normal;
			color: @gray-dark;
		}
	}
	h5 {
		margin: 0;
	}
	h6 {
		margin: 0.5em 0 0 0;
	}
	.nav-tabs {
		li {
			a{
				&:hover,
				&:focus {
					background-color: @color-lightslate;
				}
			}
			&.active {
				a {
					border: 1px solid @color-lightslate;
					border-bottom-color: transparent;
					color: black;
					border-radius: 8px 3px 0 0;
				}
			}
		}
	}


	.media {
		padding: 12px;
		a {
		}
		.media-left a img {
			max-width: 75px;
		}
		blockquote {
			border-left: none;
			margin: 0;
			padding: 8px;
			h3,
			h5,
			h6 {
				font-weight: 200;
				margin: 0;
				color: @gray-dark;
			}
		}
		img {
			display: inline;
			height: 2em;
			@media (min-width: @screen-md-min) {
				height: 3em;
			}
		}
		.media-heading {

		}
		.media-attachment {
			small,
			p {
				img {
					height: 1.5em;
				}
			}
			.media-attachment-detail {
				@media (min-width: @screen-md-min) {
					margin-left: -15px;
				}
				@media (min-width: @screen-lg-min) {
					margin-left: -15px;
					padding-left: 4px;
				}
			}
		}
	}

	@media (max-width: @screen-sm-min) {
		h3 {
			font-size: 1.5em;
		}
	}
	#pager {
		margin-top: 1em;
	}
}

.footer {
	background-color: @color-lightslate;
	color: white;
	min-height: 200px;
	font-size: smaller;
	margin-top: 60px;
	padding-top: 60px;
	padding-bottom: 140px;

	a {
		color: white;
	}

	.footer-sponsors {
		li{
			margin-bottom: 4px;
		}
		img {
			width: 16px;
			margin-right: 4px;
		}
	}
}

// ALERTS

#navbar-alert {
	text-align: center;
	border: none;
	a {
		color: #000;
		font-weight: bolder;

		&:hover {
			text-decoration: underline;
		}
	}
}

// PROJECTS AND MAKERS ************************************

#project-info,
#project-info-edit,
#maker-info,
#maker-info-edit,
#user-profile {
	padding-top: 1em;
	h1 {
		font-weight: 200;
		margin: 0;
		color: @color-rust;
	}
	h1.archived {
		text-decoration:line-through;
	}
	h3 {
		font-size: 1.5em;
		font-weight: 200;
	}
	h5 {
		font-weight: 200;
		font-size: 1.3em;
	}
	.media-left {
		width: 25%;
	}
	.img-responsive {
		background-color: #fff;
	}
	@media (max-width: @screen-sm-min) {
		h1 {
			font-size: 1.2em;
		}
		h3 {
			font-size: 0.8em;
			margin: 2px 0;
		}
		h5 {
			font-size: 0.8em;
			margin: 6px 0;
		}
	}
	.btn {
		}
		.flag {
			&:hover {
				color: @gray-light;
			}
		}
}

#project-info,
#maker-info {
	a,
	.btn {
		padding: 0;
		color: @color-seabreeze-dark;
		}
		.flag {
			&:hover {
			color: @gray-light;
		}
	}
	#maker-info-edit-cancel,
	#project-info-edit-cancel {
		color: @brand-danger;
	}
}

#project-info-edit,
#maker-info-edit {
	button.btn-link {
		padding: 0;
		color: @brand-danger;
	}
	label {
		clear: left;
	}
	display: none;
}

#project-info-profile,
#maker-info-profile {
	> button.btn {
		padding: 0;
		font-size: 0.8em;
		color: @color-seabreeze-dark;
	}
}

#made-with{
	margin-top: 2em;
	ul {
		text-align: center;
		background-color: #fff;
		padding: 0.5em;
		margin: 0;
		@media (max-width: @screen-md-min) {
			font-size: 0.8em;
		}
		a {
			color: @color-seabreeze-dark;
		}
		button {
			display: none;
			padding: 0;
			line-height: .5;
		}
		img {
			width: 16px;
		}
		li {
			padding: 0;
			&:hover {
				img {
						display: none;
				}
				button {
					display: inline;
					color: @brand-danger;
					width: 19px;
					border: 0;
				}
				form {
					margin-bottom: 1px;
					@media (min-width: @screen-md-min) {
						margin-bottom: 0;
					}

				}
			}
		}
	}
}

#roles {
	margin-top: 1em;
	h3 {
		margin: .2em 0;
		font-size: 1.4em;
		a {
			color: #000;
		}
	}
	h5 {
		margin: 0;
		font-size: 0.8em;
		font-weight: 200;
	}
	.edit-role-btn {
		color: @color-seabreeze-dark;
	}
	.edit-role-button-cancel {
		display: none;
	}
	.role-archive-form {
		display: none;
	}
	@media (max-width: @screen-sm-min) {
		h2 {
			font-size: 1.5em;
		}
	}
}


#add-role,
#add-inspiration {
}
#add-role-form,
#add-inspiration-form {
}
.collapsing {

}
#add-role-cancel,
#add-inspiration-cancel {
	display: none;
}

#usedby {
	padding-top: 2em;
	.list-group-item {
		padding: 4x 15px;
	}
	h3 {
		margin: 0.5em;
		font-size: 1.2em;
		overflow: hidden;
		height: 1.1em;
		a {
			color: #000;
			img {
				height: 1.5em;
			}
		}
	}
}

#use-these {
	margin-top: 2em;
	#use-these-actions {
		text-align: center;
		background-color: @color-lightslate;
		padding-bottom: 1em;
		h4 {
			font-size: 1em;
			font-weight: 200;
			padding: 0.5em;
		}
		.use-these-actions-buttons {
			.btn {
				padding: 6px 8px;
			}
		}
	}

}

#collaborators,
#inspirations {
	margin-top: 1em;
	h3 {
		margin: .2em 0;
		font-size: 1.4em;
		a {
			color: #000;
		}
	}
	.media-body {
		a {
			padding-right: 10px;
			display: inline-block;
			img {
				 width: 12px;
				 height: 12px;
				 margin-top: -3px;
			}
		}
	}
	.inspiree {
		display: inline-block;
		background-color: #fff;
		min-height: 75px;
		min-width: 75px;
		padding: 15px;
		&.inspiree-add {
			background-color: @color-bgslate;
			border: 1px solid @color-lightslate;
			h3 {
			}

		}
	}
}

#maker-tabs {
	margin-top: 1em;
	ul {
		padding: 0;
	}
	li {

		a {
			color: @color-seabreeze-dark;
			background-color: transparent;
		}
		&.active a,
		&.active a:focus,
		&.active a:hover, {
			background-color: #fff;
			color: @color-seabreeze-dark;
		}
	}
}


// USER PAGE ************************************

#user-settings {
	margin-top: 1em;
	.jumbotron {
		margin: 0;
		padding: 0;
		background-color: #fff;
		h2 {
			font-size: 1.5em;
		}
		form {
			padding: 20px;
		}
		p {
			font-size: 1em;
			display: block;
			clear: both;
		}
	}
}

#user-profile {
	.media-top>button.btn {
		padding: 0;
	}
}

#maker-page-reminder {
	font-weight: 200;
	/*
	text-align: center;
	background-color: #fff;
	padding: 1em;
	margin-top: 1em;
	font-size: 12px;
	line-height: 1.5;
	font-weight:normal;
	color: @color-seabreeze-dark;
	@media (max-width: @screen-md-min) {
		font-size: 0.8em;
	}
	*/
}

// ADD PAGE ************************************

#add-panels {
	.media {
		margin-top: auto;
	}
}

// LANDING PAGE ************************************

#homepage-search {
	padding: 0;
	margin-top: 2em;
	.twitter-typeahead {
		padding-top: 1em;
	}
	#nav-typeahead,
	#product-name,
	#maker-name,
	.tt-hint {
		padding: 1.2em 1.2em 1.2em 2.4em;
		width: 100%;
		@media (min-width: @screen-sm-min) {
			font-size: 2em;
		}
		border: 1px solid @color-lightslate;

    background-image: url(../img/magnifying.svg);
    background-repeat: no-repeat;
    background-position: 12px 8px;
    background-size: auto 80%;

	}
	#nav-typeahead,
	#product-name,
	#maker-name {
		margin-top: -14px;
	}
}

#landing-header {

	h1 {
		height: 2em;
    margin-bottom: 0;
    background: url(../img/makerbase-logo-horizontal.svg) no-repeat top 0 left 0;
    background-size: 90% auto;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
	}

	h3 {
		font-size: 1.4em;
		font-weight: 200;
		color: @color-lightslate;
		text-align: center;
	}

	h6 {
		text-align: center;
		font-weight: 600;
		width: 100%;
		font-size: 1.2em;
	}

	#join-button {
		.btn-styles(@btn-success-bg);
		margin: 2em 0 0 0;
		font-size: 1em;
		width: 100%;
    background-image: url(../img/arrow-right-white.svg);
    background-repeat: no-repeat;
    background-position: 95% 45%;
    background-size: auto 50%;
    &:hover {
	    background-position: 95% 45%;
    }
	}

	@media (min-width: @screen-sm-min) {
		h1 {
			height: 3em;
		}
		h3 {
			font-size: ceil((@font-size-base * 2.0));
		}
		h6 {
			margin-right: 5%;
		}
		#join-button {
			padding-right: 100%;
			font-size: 1.2em;
		}

	}

	@media (min-width: @screen-md-min) {
		h1 {
			height: 3.5em;
			margin-bottom: 0.5em;
		}
		h6 {
			margin-right: 5%;
		}
		#join-button {
			padding-right: 100%;
			font-size: 1.5em;
		}
	}

	@media (min-width: @screen-lg-min) {
		h6 {
			margin-right: 5%;
		}
		#join-button {
			padding-right: 100%;
			margin: 1.7em 0 0 0;
			font-size: 2em;
		}
	}
}

#landing-featured {
	margin-top: 1.5em;
	a {
		color: black;
	}
	.media {
		margin-top: 8px;
		max-height: 100px;
	}
	.media-body {
		a {
			padding-right: 10px;
			display: inline-block;
			img {
				 width: 12px;
				 height: 12px;
				 margin-top: -3px;
			}
		}
	}
}

#landing-top-contributors {
	li {
		height: 10em;
		margin-bottom: 1em;
	}
	a.top-contributor {
		height: 100%;
		width: 100%;
		display: inline-block;
		margin-bottom: 8px;
		padding: 8px 0 8px 12px;

		img {
			max-width: 50%;
			max-height: 75%;
		}

		.contrib-meet {
			color: white;
			background-color: hsla(0, 0%, 0%, 0.3);
			padding: 2px 16px 0 6px;
			margin-top: 15%;

	    background-image: url(../img/arrow-right-white.svg);
	    background-repeat: no-repeat;
	    background-position: 92% 45%;
	    background-size: auto 50%;


		}
		h4 {
			padding-top: 0.6em;
			clear: both;
			color: black;
			font-weight: 200;
			font-size: 1.2em;
		}
	}
	@media (min-width: @screen-sm-min) {
		a.top-contributor {
			padding: 8px 0 8px 20px;
			.contrib-meet {
				padding: 4px 20px;
			}
		}
	}
}

body.landing {
	#activity {
		blockquote {
			display: none;
		}
	}
}

body.landing-not-signed-in {
	background-color: #fff;
	#activity {
		margin-top: 0;
		blockquote {
			display: none;
		}
	}
	.pager {
		display: none;
	}
}

#testimonial-quote {
	background-color: black;
	padding: .3em 0;
	margin-top: 2em;
	h2 {
		text-align: center;
		color: white;
		font-weight: 200;
		font-size: 1.2em;
		i {
			color: @color-seabreeze;
		}
	}

	@media (min-width: @screen-sm-min) {
		font-size: 1.8em;
	}
}

.feature-box {
	margin-top: 3em;
	min-height: 240px;
	h1 {
		font-size: 3.8em;
		color: white;
	}
	p {
		color: white;
	}

	@media (min-width: @screen-sm-min) {
		min-height: 300px;
		p {
			font-size: 1.3em;
		}
	}
}

#promo-boxes {
	margin: 0;
}

#landing-makers {
	background-color: @color-dijon-dark;
	background-image: url(../img/landing-maker-desk.png);
	background-position: left top;
	background-repeat: no-repeat;
}

#landing-projects {
	background-color: @color-bubblegum-dark;
	background-image: url(../img/landing-project-apps.png);
	background-position: left -120px top;
	background-repeat: no-repeat;
	@media (min-width: @screen-sm-min) {
		background-position: left 0 top 0;
	}
}

#landing-sponsors {
	background-color: @gray-lighter;
	h1,
	p {
		color: black;
	}
	a.sponsor {
		display: inline-block;
		background-color: white;
		margin-bottom: 8px;
		padding: 8px 0 0 0;
		border-radius: 8px 2px;
		width: 100%;
		img.avatar {
			max-width: 40%;
			margin-bottom: 8px;
			margin-left: 8px;
		}
		.sponsor-projects {
			color: white;
			background-color: @color-seabreeze;
			padding: 4px 20px 4px 8px;
			margin-top: 12%;
			border-radius: 0;

	    background-image: url(../img/arrow-right-white.svg);
	    background-repeat: no-repeat;
	    background-position: 92% 45%;
	    background-size: auto 50%;
		}
		&:hover	{
			.sponsor-projects {
				background-color: @color-seabreeze-dark;
			}
		}
	}

	@media (max-width: @screen-md-min) {
		h1 {
			font-size: 1.5em;
		}
	}
}

// NEW USER GUIDANCE ************************************

body.landing .jumbotron {
	padding: 2em;
	margin-top: 1em;
	margin-bottom: 0;
	border-radius: 20px 2px;
	h1 {
		font-size: 2em;
		margin-top: 0;
		color: @color-seabreeze-light;
		font-weight: 200;
		margin-bottom: 1em;
	}
	p,
	li {
		font-size: 1.3em;
		strong {
		}
	}
	li {
		padding-bottom: 0.5em;
		&.completed {
			color: @color-seabreeze-dark;
			list-style-type: none;
			margin-left: -20px;
			&:before {
				content: "\2713\0020";
			}
		}
	}

	@media (max-width: @screen-sm-min) {
		padding: 1.5em;
		h1 {
			font-size: 1.4em;
		}
		ul {
			padding-left: 1.4em;
			li {
				&.completed {
					padding-left: 20px;
					&:before {
						content: "\2713\0020";
						position: absolute;
						left: 30px;
					}
				}
			}

		}
	}
}

// ABOUT PAGES ************************************

.about-page {
	margin-top: 2em;
	padding-bottom: 2em;
	background-color: #fff;
	h1 {
		margin-top: 0.5em;
		font-size: 3em;
	}
	h2 {
		padding: 10px 1.3em;
		color: #fff;
		font-size: 1.2em;
		clear: both;

		@media (min-width: @screen-sm-min) {
			margin-top: 1.5em;
			font-size: 2em;
		}
	}
	h3 {
		font-weight: 200;
		padding: 0.5em;
	}
	h4 {
		margin: 1em 1.5em;

		a {
			color: @color-seabreeze-dark;
		}
	}
	p {
		margin-left: 2em;
		padding-top: 1em;
		@media (min-width: @screen-sm-min) {
			font-size: 1.3em;
		}
	}
	img {
		margin-bottom: 1em;
	}
	dt {
		width: 33%;
	}
	dd {
		margin-left: 35%;
	}
	.jumbotron {
		padding: 2em;
		background: #fff;
		margin-top: 1em;
		margin-bottom: 0;
		h4 {
			font-weight: 200;
			text-align: right;
			margin: 1em 0;
		}
		p {
			margin-left: 0;
		}
	}
	#landing-header {
		h1 {
			padding-bottom: 0;
		}
		h3 {
			font-size: 1.5em;
			color: #000;
		}
	}
}
