// Makerbase-specific

@color-mint:         	#41dab3;
@color-seabreeze:       #44c9d7;
@color-creamsicle:      #ffbb4e;
@color-rust:    	    #c73a0a;

@import "theme.less";
@import "bootstrap-files.less";


#history.history-vivid .action-item blockquote,
.media-footer,
#maker-profile-edit,
#project-profile-edit,
.role-archive-form {
    display: none;
}